<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Search Page</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Search Page</h1>
        <form action="{{ url_for('index') }}" method="POST" class="form-inline mt-3">
            <div class="form-group mb-2">
                <label for="searchInput" class="sr-only">Search</label>
                <input type="text" class="form-control" id="searchInput" name="searchInput" placeholder="Search...">
            </div>
            <button type="submit" class="btn btn-primary mb-2 ml-2">Search</button>
        </form>

        {% if results %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Publication Year</th>
                <th scope="col">Genre</th>
              </tr>
            </thead>
            <tbody>
                {% for result in results %}
              <tr>
                <th scope="row">{{result['id']}}</th>
                <td>{{result['title']}}</td>
                <td>{{result['author']}}</td>
                <td>{{result['publication_year']}}</td>
                <td>{{result['genre']}}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
